BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterStruct: false
  AfterNamespace: false
  AfterEnum: false
  BeforeElse: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false
BinPackArguments: false
BinPackParameters: false

